{% extends 'base.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'libs/select2/select2.min.css' %}" />
<link rel="stylesheet" href="{% static 'custom/css/custom.css' %}" />
{% endblock styles %}


{% block body %}




<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Registro de Documentos
        <!-- <small>Version 2.0</small> -->
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active mx-1">Inicio</li>
    </ol>
</section>

<section class="content" id='app'>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-document"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Documentos</span>
                    <span class="info-box-number">${info.documents}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa  fa-book"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Mandatos</span>
                    <span class="info-box-number">${info.mandates}</span>
                </div>
            </div>
        </div>

        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-network"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Origenes</span>
                    <span class="info-box-number">${info.sources}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-android-clipboard"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Pruebas</span>
                    <span class="info-box-number">${info.tests}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            {% include 'search_form.html' %}
        </div>

        <div class="col-md-4">
            {% include 'noticrawler_list.html' %}
        </div>
    </div>

</section>




{% endblock body %}

{% block bodyy %}
<div class='row' id="app">

    <div class="col-sm-8 offset-md-1 ml- mt-2 ">

        <div class="py-5 text-center bg-image">
            <a href=""> <img class="d-block mx-auto mb-4" src="{% static "document_circle.png" %}" alt="" width="92"
                    height="92"> </a>
            <h2>Repositorio de Documentos</h2>
            <p class="lead">${message}</p>
        </div>


        <div>
            {% include 'search_form.html' %}
            {% include 'list_mandate.html' %}
        </div>
    </div>

    <div class="col-sm-3 pt-5">
        asdasd
        {% include 'noticrawler_list.html' %}
    </div>
</div>
{% endblock bodyy %}


{% block scripts %}
<script src="{% static 'libs/select2/select2.min.js' %}"></script>
<script src="{% static 'libs/popper/popper.min.js' %}"></script>

<script src="{% static '/node_modules/moment/min/moment-with-locales.min.js' %}"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static 'custom/js/api.js' %}"></script>
<script src="{% static 'custom/js/vue-components.js' %}"></script>
<script src="{% static 'custom/js/index.js' %}"></script>

{% endblock scripts %}