{% load filters %}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
asdads
            {% if f_filters %}
                {% for mandate in mandates %}
                <div class="card">
                    <div class="card-header text-right">
                        Actualizado al <span class="font-italic">{{mandate.document.recent_details.last_update}}</span>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-9">
                                <h5 class="card-title">{{mandate.document}}

                                    {% if mandate.document.recent_details.link %}
                                        <a href="{{mandate.document.recent_details.link}}" target="_blank"   class="badge badge-info float-right">ver documento </a>
                                    {% else %}
                                        <a href="javascript:void(0)" class="badge badge-secondary float-right" data-toggle="tooltip" data-placement="top" title="No hay referencia al documento">ver documento </a>
                                    {% endif %}

                                </h5>
                                <pre class="card-text">{{mandate.display_content}}</pre>
                                <a href="{% url 'mandate' mandate.id %}" class="btn btn-primary">Ver más</a>
                            </div>

                            <div class="list-group col-md-3">
                              <a href="#" class="list-group-item list-group-item-action disabled ">Areas</a>

                              {% for area in mandate.areas_list %}
                                 {% if f_filters|compare_area:area %}
                                     <a href="javascript:void(0)" class="list-group-item list-group-item-action area_filter active" data-area='{{area.id}}'>{{area}}</a>
                                 {% else %}
                                     <a href="javascript:void(0)" class="list-group-item list-group-item-action area_filter list-group-item-light" data-area='{{area.id}}'>{{area}}</a>
                                 {% endif %} 
                              {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mb-3">
                {% empty %}
                <div class="card  bg-warning">
                    <div class="card-body">
                        La búsqueda no arrojó resultados
                    </div>
                </div>
                {% endfor %}
                    {% if mandates.paginator.num_pages > 2 %}
                        <div class="col-md-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    {% if mandates.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous" data-page='1'>
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for page in mandates.paginator.page_range %}
                                        {% if mandates.number|show_pagination_numer:forloop.counter %}
                                            {% if mandates.number == forloop.counter %}
                                                <li class="page-item active"><a class="page-link" href="#" data-page='{{page}}'>{{page}}</a></li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link" href="#" data-page='{{page}}'>{{page}}</a></li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if mandates.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next"  data-page='{{mandates.paginator.num_pages}}'>
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    {% endif %}

            {% endif %}
        </div>
    </div>
</div>