{% extends 'base.html' %}
{% load static %}


{% block styles %}
	<link rel="stylesheet" href="{% static 'libs/select2/select2.min.css' %}" />
	<link rel="stylesheet" href="{% static 'custom/css/custom.css' %}" />
{% endblock styles %}


{% block body %}
	<div class='row'>

		<div class="col-sm-8 offset-md-1 ml- mt-2 ">

			<div class="py-5 text-center bg-image">
				<a href=""> <img class="d-block mx-auto mb-4" src="{% static "document_circle.png" %}" alt="" width="92"
						height="92"> </a>
				<h2>Repositorio de Documentos</h2>
				<p class="lead">Esto va a buscar muchos documentos</p>
			</div>


			<div>
				{% include 'search_form.html' %}
				{% include 'list_mandate.html' %}
			</div>
		</div>

		<div class="col-sm-3 pt-5">
			{% include 'noticrawler_list_group.html' %}
		</div>
	</div>
{% endblock body %}


{% block scripts %}
	<script src="{% static 'libs/select2/select2.min.js' %}"></script>
	<script type="text/javascript">values = {{ f_filters | safe }};</script>
	<script src="{% static 'js/index.js' %}"></script>
{% endblock scripts %}