{% extends 'base.html' %}


{% block styles %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
	<style type="text/css">
		select{
			width: 200px;
		}

		.select2-container .select2-selection--single{
			height: 38px !important;
			border: 1px solid #ced4da;
		}

		.select2-container--default .select2-selection--single .select2-selection__rendered{
			color: #737373;
			padding-top: 3px;
		}
	</style>
{% endblock styles %}




{% block body %}

	<div class="py-5 text-center">
		<h2>Repositorio de Documentos</h2>
		<p class="lead">Esto va a buscar muchos documentos</p>
	</div>

	{% include 'search_form.html' %}
	{% include 'list_mandate.html' %}
{% endblock body %}






{% block scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
	<script type="text/javascript">

		function populate_filter(filter_name, display_name) {

			var values = {{ filters | safe }};
			display_name = display_name || 'name';


			$.get('/api/' + filter_name).then(function (res, header) {
				res.forEach(function (item, i) {

					var selected = '';

					if (values[filter_name] == item.id) selected = 'selected';

					$('#' + filter_name).append('<option ' + selected + ' value="' + item.id + '">' + item[display_name] + '</option>')
				});
			});
		}

		function enable_select2() {
		    $('.power-select').select2();
		}

		function onReady() {
			populate_filter('area')
			populate_filter('category')
			populate_filter('source')
			populate_filter('document', 'file_name')

			enable_select2();
		}

		function paginate() {

			$('.page-link').click(function (ev) {
				var page = $(this).data('page');
				$('#page').val(page)
				$('form').submit()	
			})
		}

		function resetForm() {
			$('form button[type="reset"]').click(function (ev) {
				window.location = '/'
			})
		}

		$(document).ready(onReady);
		$(document).ready(paginate);
		$(document).ready(resetForm);
	</script>
{% endblock scripts %}
