<div class="col-sm-12 col-xl-12 ">
    <!-- <h4 class="mb-3">Repositorio de Documentos</h4> -->
    <form class="needs-validation" novalidate="" method="post">
        {% csrf_token %}

        <input type="hidden" id="page" name="page">
        <div class="row">
            <div class="col-md-4 mb-1">
                <label for="state">Area</label>
                <select class="custom-select power-select d-block w-100" id="area" name='area'>
                    <option value="">Elige...</option>
                </select>
            </div>

            <div class="col-md-4 mb-1">
                <label for="state">Categoría</label>
                <select class="custom-select power-select d-block w-100" id="category" name='category'>
                    <option value="">Elige...</option>
                </select>
            </div>

            <div class="col-md-4 mb-1">
                <label for="state">Origen</label>
                <select class="custom-select power-select d-block w-100" id="source" name='source'>
                    <option value="">Elige...</option>
                </select>
            </div>

            <div class="col-md-12 mb-4">
                <label for="state">Documento</label>
                <select class="custom-select power-select d-block w-100" id="document" name='document'>
                    <option value="">Elige...</option>
                </select>
            </div>

            <div class="col-md-2 mb-1">
                <button class="btn btn-secondary btn-lg btn-block" type="reset" >Reiniciar</button>
            </div>

            <div class="col-md-10 mb-1">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continuar</button>
            </div>
        </div>
    </form>
    <hr class="mb-4">
</div>
